tmp/
dev.db*
rpc.ridl
.env

# Logs
admin-ui/logs
admin-ui/*.log
admin-ui/npm-debug.log*
admin-ui/yarn-debug.log*
admin-ui/yarn-error.log*
admin-ui/pnpm-debug.log*
admin-ui/lerna-debug.log*

admin-ui/node_modules/
admin-ui/dist
admin-ui/dist-ssr
admin-ui/*.local

# Editor directories and files
admin-ui/.vscode/*
!admin-ui/.vscode/extensions.json
admin-ui/.idea
admin-ui/.DS_Store
admin-ui/*.suo
admin-ui/*.ntvs*
admin-ui/*.njsproj
admin-ui/*.sln
admin-ui/*.sw?
admin-ui/.env


# Logs
public-ui/logs
public-ui/*.log
public-ui/npm-debug.log*
public-ui/yarn-debug.log*
public-ui/yarn-error.log*
public-ui/pnpm-debug.log*
public-ui/lerna-debug.log*

public-ui/node_modules/
public-ui/dist
public-ui/dist-ssr
public-ui/*.local

# Editor directories and files
public-ui/.vscode/*
!public-ui/.vscode/extensions.json
public-ui/.idea
public-ui/.DS_Store
public-ui/*.suo
public-ui/*.ntvs*
public-ui/*.njsproj
public-ui/*.sln
public-ui/*.sw?
public-ui/.env
